.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container h1 {
  font-size: 2rem;
  margin: 15px auto 10px;
}

.nav-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 5vh;
  margin: 10px auto;
}

.header-nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  background-color: whitesmoke;
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  border-radius: 5px 0 0 5px;
  animation-name: nav-trans-to-right;
  animation-duration: 1s;
}

.right {
  border-radius: 0 5px 5px 0;
  animation-name: nav-trans-to-left;
  animation-duration: 1s;
}

.active {
  background-color: #2196F3;
}
