form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 102%;
}

label {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

input[type=text],
input[type=password] {
  border: none;
  border-bottom: 3px solid darkorange;
  background: lightgoldenrodyellow;
  width: 80%;
  max-width: 500px;
  height: 4vh;
}

input:focus {
  background: lightyellow;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
}